.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 1920px;
    height: 600px;
  }

.middle {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: -webkit-center;
}

.img-circle {
  width: 140px;
  height: 140px;
}

.wiki-logo {
  color: green;
  font-family: "Times New Roman";
}

.newline {
  padding: 50px 0;
}

.mouseover:hover {
  background-color: #70CBFF;
  transition: all 0.4s;
}

.navbar-margin {
  margin-top: 50px;
}

.carousel {
  height: 600px;
}

.navbar-fade:hover{
  background-color: #EFEFEF;
  transition: all 0.4s;
}

.img-carousel {
  width: 300px;
  height: 300px;
}

.navbar-default {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.20);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.20);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.20);
}

.carousel-caption h2, 
  .carousel-caption p {
    text-shadow: 1px 2px black
}

footer ul li:first-child {
    color: #333;
    padding: 5px 6px;
}

footer ul li {
    list-style: none!important;
    padding-left: 5px;
}

footer #made-in {
    color: #999;
    text-align: center;
}

.margin-top-s {
    margin-top: 3%;
}

.cctrl-callout>* {
    border-left: 4px solid #DFDFDF;
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: rgb(223, 223, 223);
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 2% 0 2% 6%;
}

.cctrl-callout>*:first-child {
    border-left: 4px solid #999;
}

.my-profile h1 {
  color: white;
  font-family: Arial;
  text-shadow: 1px 2px #000000;
}
  
.img-profile {
  width: 170px;
  height: 170px;
}

.impress-heading {
    font-size: 200%;
    font-weight: normal;
    border-bottom: 1px solid #E7E8E6;
}

.my-profile-heading-img {
  margin-top: 330px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

@media (min-width: 1200px) {
  .my-profile img {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.50);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.50);
    margin-top: -20px;
    position: absolute;
  }
}

@media (max-width: 1200px) {
  .my-profile h1 {
    color: white;
    font-family: Arial;
    margin-left: 190px;
    margin-top: -66px;
    position: absolute;
  }

  .my-profile img {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.50);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.50);
    margin-top: -80px;
    position: absolute;
  }

  .modal-body h1 {
    font-size: 28px;
  }
}




